// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1:after, h1:before {
  content: '';
  width: 75px;
  height: 2px;
  background: #225277;
  margin: 0 10px;
}

h2:after, h2:before {
  content: '';
  width: 75px;
  height: 2px;
  background: #FFFFFF;
  margin: 0 10px;
}

h3:after, h3:before {
  content: '';
  width: 75px;
  height: 2px;
  background: #FFFFFF;
  margin: 0 10px;
}

p {
  font-family: 'Raleway', sans-serif;
}

.light-font {
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  h1:after, h1:before {
    width: 10px;
  }

  h2:after, h2:before {
    width: 10px;
  }

  h3:after, h3:before {
    width: 0px;
  }
}
