h1 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  color: #3a4052;
}

h2 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #FFFFFF;
}

h3 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #FFFFFF;
}

.about-title {
  margin: 32px 0;
}

.about-container {
  width: 80%;
  margin: 0 auto;
  // margin-top: 16px;
  // padding: 16px;
  // background: rgba(235,235,235,.6);
  // box-shadow: 0px 0px 5px 0px;
}

.about-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0px;
}

.attention-grab {
  margin-left: 50px;
  margin-right: 50px;
}

.about-p1 {
  margin-left: 50px;
  margin-right: 50px;
}

.about-p2 {
  text-align: end;
  margin-right: 100px;
}

.about-p3 {
  text-indent: 50px;
  margin-left: 50px;
}

.image-with-quote {
  justify-content: space-around;
}

// .project-img:hover {
//   transform: scale(1.5)
// }

@media only screen and (max-width: 600px) {
  .about-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  }

  .about-p2 p {
  text-align: left;
  margin-top: 32px;
  }

}


