<div id="about-me" class="white-banner">
  <div class="container">

    <div class="about-title text-center">
      <div class="title-and-cv">
        <h1>About Me</h1>
      </div>
    </div>

    <div class="">
      <div class="">
        <p id="">I am a 26 year old full-stack developer with a passion for front-end design.</p>
      </div>
    </div>

    <div data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><%= image_tag "juan-in-moncalieri.JPG", width: 200, height: 200, id:"avatar" %>
    </div>

  </div>
</div>
