<div id="about-me" class="white-banner">
  <div class="container">

    <div class="about-title text-center">
      <div class="title-and-cv">
        <h1>About Me</h1>
      </div>
    </div>

  </div>
</div>
