<div id="about-me" class="white-banner">
  <div class="container">

    <div class="about-container">

      <div class="about-title text-center">
        <div class="title-and-cv">
          <h1>Welcome!</h1>
        </div>
      </div>

      <div class="about-header">
        <p>Welcome to my website. My name is Juan and I am a 26 year old aspiring full-stack developer with a passion for front-end design. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, cum vitae adipisci nisi. Asperiores repellat reprehenderit provident. Ut perspiciatis, vero delectus, esse molestias veniam nisi quod, architecto expedita laudantium voluptate.</p>
      </div>

      <div class="about-row">
        <div class="about-p1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus ullam quae rerum eligendi doloribus labore cumque quam soluta natus, debitis provident cupiditate voluptatem sapiente deserunt aliquid tempore quibusdam quis.</p>
        </div>
        <div class="about-img1">
          <%= image_tag "juan-in-moncalieri.JPG", width: 200, height: 200, class: "avatar fade-in-right" %>
        </div>
      </div>

      <div class="about-row">
        <div class="about-img2">
          <%= image_tag "cliffs-of-moher.JPG", width: 200, height: 200, class: "avatar fade-in-right" %>
        </div>
        <div class="about-p2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus ullam quae rerum eligendi doloribus labore cumque quam soluta natus, debitis provident cupiditate voluptatem sapiente deserunt aliquid tempore quibusdam quis.</p>
        </div>
      </div>

      <div class="about-row">
        <div class="about-p3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus ullam quae rerum eligendi doloribus labore cumque quam soluta natus, debitis provident cupiditate voluptatem sapiente deserunt aliquid tempore quibusdam quis.</p>
        </div>
        <div class="about-img3">
          <%= image_tag "logo.png", width: 200, height: 200, class: "avatar fade-in-right" %>
        </div>
      </div>

    </div>

  </div>
</div>
