<div id="current" class="white-banner">
  <div class="container">

    <div class="current-title text-center">
      <div class="">
        <h1 id="current-title">What am I working on Now?</h1>
      </div>
    </div>

