<div class="navbar-home">
  <div class="navbar-flex">
    <div class="navbar-home-right">
      <ul class="page-scroll smooth-scroll">
        <a id="navbar-text" href="#about-me" class="navbar-home-item navbar-home-link">About</a>
        <a id="navbar-text" href="#my-skills" class="navbar-home-item navbar-home-link">Skills</a>
        <a id="navbar-text" href="#previous-work" class="navbar-home-item navbar-home-link">Work</a>
        <a id="navbar-text" href="#where" class="navbar-home-item navbar-home-link">Location</a>
        <a id="navbar-text" href="#contact" class="navbar-home-item navbar-home-link">Contact</a>
      </ul>
    </div>
    <hr class="top">
  </div>
</div>
