<div id="my-projects" class="white-banner">
  <div class="container">

    <div class="project-title text-center">
      <div class="title-and-cv">
        <h1 id="projects-title">My Projects</h1>
      </div>
    </div>

    <div class="projects-container">

      <%= render 'shared/vamos' %>

      <hr class="projects-line">

      <%= render 'shared/quedem' %>

      <hr class="projects-line">

      <%= render 'shared/quedem_exp' %>
    
    </div>
  </div>
</div>
