<div id="my-projects" class="white-banner">
  <div class="container">

    <div class="about-title text-center">
      <div class="title-and-cv">
        <h1>My Projetcs</h1>
      </div>
    </div>

    <div class="projects-container">

      <div class="projects-row">
        <h5>Quedem</h5>
        <div class="projects-img1">
          <%= image_tag "Quedem-Project-IMG.png", width: 800, height: 400, class: "project-img" %>
        </div>
        <div class="projects-p1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus ullam quae rerum eligendi doloribus labore cumque quam soluta natus, debitis provident cupiditate voluptatem sapiente deserunt aliquid tempore quibusdam quis.</p>
        </div>
      </div>

      <div class="projects-row">
        <h5>Quedem Experiences AirBnb Clone</h5>
        <div class="projects-img2">
          <%= image_tag "QuedemExperiences.png", width: 800, height: 400, class: "project-img" %>
        </div>
        <div class="projects-p2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus ullam quae rerum eligendi doloribus labore cumque quam soluta natus, debitis provident cupiditate voluptatem sapiente deserunt aliquid tempore quibusdam quis.</p>
        </div>
      </div>





    </div>

  </div>
</div>
