<div class="projects-row">
        <h5 id="quedem-exp-title">QE Experiences</h5>
          <div class="projects-p2">
            <p class="white-text">An AirBnB clone built with the Ruby on Rails framework. 1 week sprint, designed to gain experience with agile development work flow.</p>
          </div>

          <div class="container-quedem-carousel">
            <div id="qecarouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators" style="position: absolute; bottom: -50px;">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tag-line">
                  <h2>Landing Page.</h2>
                </div>
                <div class="qe-img">
                  <%= image_tag "QuedemExperiences.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>Create a team!</h2>
                </div>
                <div class="qe-img">
                  <%= image_tag "QE-index.png" %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tag-line">
                  <h2>Find opportunities for you.</h2>
                </div>
                <div class="qe-img">
                  <%= image_tag "QE-show.png" %>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#qecarouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon qe-control" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#qecarouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon qe-control" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>