.quedem-img {
  display: flex;
  justify-content: center;
  height: 286px;
}

.quedem-img img {
  width: 345px;
  height: 286px;
}

.container-quedem-carousel {
  position: relative;
  height: 600px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  position: absolute;
  left: 50px;
  top: 240px;
}

.carousel-indicators {
  li{
    background-color: gray;
  }
  .active{
    background-color: $quedem;
  }
}


.tag-line h2 {
  font-family: $body-font;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
}
